@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(../../dist/fonts/latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(../../dist/fonts/latin-ext.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background: #000000;
}

::-webkit-scrollbar-thumb {
	min-height: 40px;
	border-radius: 10px;
	background: #7669fe;
	background-clip: content-box;
	border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
	background: #4d3dff;
	background-clip: content-box;
	border: 2px solid transparent;
}

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	font-family: "Roboto", sans-serif;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	background-color: #141414;
}

.loading {
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0.8;
	height: 100vh;
	display: none;
	z-index: 99999;
	user-select: none;
	position: absolute;
	align-items: center;
	justify-content: center;
	background-color: #000;
}

.loading img {
	width: 150px;
}

.trigger_container {
	top: 0;
	right: 0;
	width: 100%;
	color: white;
	display: none;
	padding: 20px;
	z-index: 9999999;
	user-select: none;
	position: absolute;
	background: #000;
}

.trigger_container.warning {
	background-color: #ffb72c;
}

.trigger_container.success {
	background-color: #7669fe;
}

#Login {
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 9999;
	user-select: none;
	position: absolute;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../../assets/images/bg-login.jpg);
}

.login_container {
	width: 100%;
	height: 100vh;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: space-around;
	background: linear-gradient(90deg, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.7021183473389356) 100%);
}

.login_content {
	display: flex;
	max-width: 600px;
	align-items: center;
	flex-direction: column;
}

.login_logo {
	max-width: 350px;
	max-height: 85px;
}

.login_index_message {
	color: #eee;
	margin: 50px 0;
	font-size: 3em;
	font-weight: 500;
}

.login_login_form {
	width: 350px;
	position: relative;
}

.login_input_container {
	width: 100%;
	margin-bottom: 15px;
}

.login_input_container input {
	width: 100%;
	border: none;
	color: white;
	font-size: 1.2em;
	padding: 20px 25px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.3);

}

.login_input_container input::placeholder {
	color: white;
}

.login_login_form button {
	width: 100%;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 1.2em;
	padding: 20px 25px;
	border-radius: 5px;
	background-color: #7669fe;
}

.login_login_form button:hover {
	opacity: 0.8;
}

.users_container {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 8888;
	display: flex;
	user-select: none;
	position: absolute;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: #141414;
}

.users_title p {
	color: white;
	font-size: 3em;
	text-align: center;
	margin-bottom: 30px;
}

.users_content ul {
	gap: 20px;
	float: left;
	display: flex;
	color: white;
	list-style: none;
}

.users_content li {
	float: left;
	margin-bottom: 10px;
}

.users_content a {
	float: left;
	width: 150px;
	height: 150px;
	cursor: pointer;
	text-align: center;
	border-radius: 10px;
	margin-bottom: 15px;
	transition: all 0.3s ease-out;
}

.users_content a:hover {
	opacity: 0.5;
}

.users_content span {
	color: #ccc;
	display: block;
	font-size: 1.3em;
	text-align: center;
}

.users_content img {
	width: 150px;
	height: 150px;
}

.users_modal_container {
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 8889;
	display: flex;
	user-select: none;
	position: absolute;
	align-items: center;
	justify-content: center;
	background-color: #141414;
}

.manage_users_modal_container {
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 8889;
	display: flex;
	user-select: none;
	position: absolute;
	align-items: center;
	background: #141414;
	justify-content: center;
}

.manage_users {
	margin-top: 40px;
}

.btn_manage_users {
	color: white;
	cursor: pointer;
	border-radius: 5px;
	letter-spacing: 1px;
	padding: 0.5em 1.5em;
	text-decoration: none;
	border: 1px solid white;
	transition: all 0.3s ease-out;
}

.btn_manage_users:hover {
	color: black;
	border: 1px solid grey;
	background-color: white;
}

.btn_manage_users_concluded {
	color: white;
	cursor: pointer;
	margin-top: 10px;
	border-radius: 5px;
	letter-spacing: 1px;
	padding: 0.5em 1.5em;
	text-decoration: none;
	border: 1px solid white;
	transition: all 0.3s ease-out;
}

.btn_manage_users_concluded:hover {
	color: black;
	border: 1px solid grey;
	background-color: white;
}

.bg_edit {
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.7);
}

.bg_edit img {
	width: 25px;
	filter: invert(1);
}

.manage_users_modal_content {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.manage_users_modal_content h1 {
	color: white;
	font-weight: 400;
	font-size: 2.9em;
	margin-bottom: 30px;
}

.users_modal_content input {
	width: 100%;
	border: none;
	color: white;
	font-size: 1.2em;
	border-radius: 5px;
	padding: 20px 25px;
	transition: all 0.3s ease-out;
	background-color: rgba(255, 255, 255, 0.3);
}

.users_modal_content input:hover:not(:focus) {
	opacity: 0.6;
}

.users_modal_content input::placeholder {
	color: #9e9e9e;
}

.users_modal_content button {
	width: 100%;
	border: none;
	color: white;
	cursor: pointer;
	margin-top: 10px;
	font-size: 1.5em;
	border-radius: 5px;
	padding: 15px 20px;
	background-color: #7669fe;
	transition: all 0.3s ease-out;
}

.users_modal_content button:hover {
	opacity: 0.6;
}

.account_exit a {
	display: block;
	cursor: pointer;
	color: #dd4d4d;
	margin-top: 25px;
	border-radius: 5px;
	letter-spacing: 1px;
	padding: 0.5em 1.5em;
	text-decoration: none;
	border: 1px solid #dd4d4d;
	transition: all 0.3s ease-out;
}

.account_exit a:hover {
	color: white;
	background-color: red;
	border: 1px solid #dc6d6d;
}

.form_avatar {
	position: relative;
}

#Player {
	width: 100%;
	height: 100%;
	overflow: hidden;
	user-select: none;
	position: relative;
	background-color: #141414;
}

.menu_container {
	float: left;
	display: flex;
	padding: 35.5px;
	position: relative;
	justify-content: center;
	background-color: #1c1c1c;
}

.profile_container {
	left: 146px;
	z-index: 7777;
	display: none;
	padding: 40px 50px;
	position: absolute;
	text-align: center;
	background-color: #1c1c1c;
	border-left: 1px solid #404040;
}

.avatar_container {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	display: inline-block;
}

.avatar_container img {
	max-width: 100%;
}

.profile_container p {
	color: white;
	margin-bottom: 15px;
}

.profile_container a {
	color: white;
	padding: 10px;
	font-size: 1em;
	display: block;
	cursor: pointer;
	border-radius: 5px;
	text-decoration: none;
	border: 1px solid white;
	transition: all 0.3s ease-out;
}

.profile_container a:hover {
	color: black;
	border: 1px solid grey;
	background-color: white;
}

.menu_content {
	display: flex;
	list-style: none;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}

.menu_content img {
	width: 50px;
	filter: invert(1);
}

.menu_content a {
	color: white;
	display: block;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}

.menu_content span {
	display: block;
	margin-top: 5px;
	letter-spacing: 1px;
	text-shadow: 3px 3px 5px #000000;
}

.menu_content a.active img {
	filter: invert(45%) sepia(60%) saturate(3560%) hue-rotate(230deg) brightness(100%) contrast(100%);
}

.menu_content a:hover:not(.active) img {
	filter: invert(40%) sepia(85%) saturate(7450%) hue-rotate(245deg) brightness(100%) contrast(100%);
}

.page_container {
	float: right;
	width: calc(100% - 146px);
}

.page_topnav {
	width: 100%;
	float: left;
	color: white;
	display: flex;
	padding: 30px;
	align-items: center;
	border-bottom: 1px solid #404040;
}

.page_topnav img {
	float: left;
	max-width: 150px;
	max-height: 36px;
}

.page_topnav p {
	float: right;
	margin-left: auto;
}

.search_container {
	float: left;
	width: 350px;
	margin-left: auto;
	position: relative;
}

.search_container input {
	float: left;
	width: 100%;
	border: none;
	color: white;
	outline: none;
	font-size: 1.1em;
	border-radius: 5px;
	padding: 10px 15px;
	padding-right: 40px;
	background: #1c1c1c;
}

.search_container button {
	top: 10px;
	width: 20px;
	right: 10px;
	float: right;
	border: none;
	cursor: pointer;
	position: absolute;
	background: transparent;
	filter: invert(30%);
}

.page_content {
	float: left;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease-out;
}

.carousel_section_generic_container {
	width: 100%;
	float: left;
	margin-top: 20px;
	position: relative;
}

.carousel_section_generic_content {
	width: 100%;
}

.carousel_section_generic_title {
	color: white;
	font-size: 1.2em;
	font-weight: 500;
	padding-left: 30px;
	margin-bottom: 15px;
}

.section_top_title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.section_new_title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container_arrows {
	display: flex;
	margin-right: 5px;
}

.container_arrows img {
	width: 32px;
	height: 32px;
	margin: 0 4px;
	padding: 0 8px;
	cursor: pointer;
	filter: invert(1);
}

.container_arrows img:hover {
	filter: invert(40%) sepia(85%) saturate(7450%) hue-rotate(245deg) brightness(100%) contrast(100%);
}

.arrows {
	float: right;
	margin-top: 10px;
	user-select: none;
}

.arrows i {
	color: white;
	margin: 0 4px;
	font-size: 3em;
	cursor: pointer;
}

.arrows i:hover {
	filter: invert(40%) sepia(85%) saturate(7450%) hue-rotate(245deg) brightness(100%) contrast(100%);
}

.modal_media_content .arrows {
	margin-top: 10px;
	user-select: none;
	align-self: center;
}

.carousel_section_generic_content ul {
	display: flex;
	list-style: none;
	overflow-x: auto;
	padding-top: 5px;
	max-height: 400px;
	padding-left: 30px;
	overflow-y: hidden;
	padding-bottom: 10px;
}

.hide_scrollbar::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.carousel_section_generic_content li {
	float: left;
	margin-right: 20px;
}

.carousel_section_generic_content a {
	width: 200px;
	height: 300px;
	display: block;
	cursor: pointer;
	position: relative;
	border-radius: 10px;
	text-decoration: none;
}

.carousel_section_generic_content a img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	transition: all 0.3s ease-out;
}

.carousel_section_generic_content a:hover img {
	opacity: 0.6;
}

.carousel_section_generic_content.small a {
	width: 157px;
	height: 235px;
	transition: all 0.3s ease-out;
}

.carousel_section_generic_content.small a:hover img {
	opacity: 0.6;
}

.carousel_section_generic_content .position_number {
	top: -5px;
	right: -5px;
	width: 48px;
	height: 48px;
	padding: 4px;
	color: white;
	font-size: 2em;
	position: absolute;
	text-align: center;
	border-radius: 10px;
	background-color: #7669fe;
}

.carousel_section_generic_content .name {
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 8px;
	color: white;
	display: block;
	font-size: 0.8em;
	margin-top: 5px;
	position: absolute;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: rgba(0, 0, 0, 0.7);
}

.channels_categories {
	float: left;
	height: 100%;
	background-color: #202020;
}

.channels_categories ul {
	width: 250px;
	max-width: 250px;
	list-style: none;
	overflow-y: auto;
	max-height: calc(100vh - 101px);
	min-height: calc(100vh - 101px);
}

.channels_categories li {
	font-size: 0.8em;
}

.channels_categories a {
	color: white;
	padding: 15px;
	display: block;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.3s ease-out;
}

.channels_categories a:hover {
	background-color: #8b81ff;
}

.channels_categories a.active {
	background-color: #7669fe;
}

.channels_list {
	float: left;
	height: 100%;
	background-color: #191919;
}

.channels_list ul {
	width: 300px;
	max-width: 350px;
	list-style: none;
	overflow-y: auto;
	max-height: calc(100vh - 101px);
	min-height: calc(100vh - 101px);
}

.channels_list li {
	font-size: 0.8em;
	position: relative;
}

.channels_list li .icon-lock {
	top: 17px;
	right: 10px;
	filter: invert(1);
	position: absolute;
}

.channels_list a {
	color: white;
	padding: 13px;
	display: flex;
	cursor: pointer;
	align-items: center;
	text-decoration: none;
	transition: all 0.3s ease-out;
}

.channels_list a:hover {
	background-color: #8b81ff;
}

.channels_list a.active {
	background-color: #7669fe;
}

.channels_list img {
	max-width: 53px;
	min-width: 53px;
	max-height: 19px;
	min-height: 19px;
	margin-right: 10px;
	object-fit: scale-down;
}

.channels_view_container {
	float: right;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	overflow-y: overlay;
	width: calc(100% - 550px);
	height: calc(100% - 101px);
}

.channels_view_content {
	width: 100%;
	position: relative;
	background-color: #202020;
}

.channels_view_content .play {
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
}

.channels_view_content img {
	width: 100px;
	filter: invert(.5);
}

.epg_ul {
	width: 100%;
	display: block;
	overflow: auto;
	text-align: left;
	list-style: none;
	max-height: 140px;
}

.epg_ul li {
	margin-bottom: 20px;
	width: calc(100% - 15px);
}

.epg_ul .title {
	color: white;
	font-size: 1.1em;
}

.epg_ul .time {
	color: #7669fe;
}

.epg_ul .description {
	margin-top: 5px;
	font-size: 0.87em;
	color: #6c6c6c;
}

.media_content {
	float: left;
	width: calc(100% - 250px);
}

.media_content ul {
	width: 100%;
	padding: 15px;
	list-style: none;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: calc(100vh - 101px);
}

.media_content li {
	float: left;
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
}

.media_content a {
	width: 143px;
	height: 213px;
	display: block;
	cursor: pointer;
	position: relative;
	border-radius: 10px;
	text-decoration: none;
	transition: all 0.3s ease-out;
}

.media_content a:hover {
	opacity: 0.6;
}

.media_content a img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	transition: all 0.3s ease-out;
}

.media_content .name {
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 8px;
	color: white;
	display: block;
	margin-top: 5px;
	font-size: 0.8em;
	position: absolute;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: rgba(0, 0, 0, 0.7);
}

.favorites_container {
	width: 100%;
	overflow: auto;
	height: calc(100% - 100px);
}

.home_container {
	width: 100%;
	overflow: auto;
	height: calc(100% - 100px);
}

.modal_media_container {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	padding: 50px;
	position: absolute;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-out;
	background-color: rgba(0, 0, 0, 0.9);
}

.modal_media_box {
	width: 100%;
	overflow: auto;
	max-width: 80%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	max-height: calc(100vh - 100px);
}

.modal_media_content {
	z-index: 999;
	padding: 30px;
	display: flex;
	position: relative;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.9);
}

.modal_media_close {
	border: none;
	cursor: pointer;
	position: fixed;
	filter: invert(1);
	background: transparent;
}

.modal_media_close:hover {
	filter: invert(40%) sepia(85%) saturate(7450%) hue-rotate(245deg) brightness(100%) contrast(100%);
}

.modal_media_close i {
	font-size: 3.2em;
}

.media_info {
	display: flex;
}

.media_cover {
	width: 25%;
	float: left;
	min-width: 100px;
	max-width: 300px;
	overflow: hidden;
	position: relative;
	margin-right: 40px;
	border-radius: 10px;
}

.media_cover img {
	max-width: 100%;
	user-select: none;
	border-radius: 10px;
}

.media_cover .rate {
	top: 0;
	right: 0;
	padding: 5px;
	color: white;
	position: absolute;
	background-color: #7669fe;
	border-bottom-left-radius: 10px;
}

.media_description {
	width: 70%;
	float: left;
	color: white;
}

.media_description .title {
	font-size: 2em;
	font-weight: 700;
	padding-right: 40px;
	display: inline-block;
}

.media_description .genre {
	font-size: 0.8em;
	margin-bottom: 15px;
}

.media_description .time {
	margin-bottom: 15px;
}

.media_description .director {
	font-size: 0.87em;
	margin-bottom: 5px;
}

.media_description .cast {
	font-size: 0.87em;
	margin-bottom: 15px;
}

.media_resume {
	width: 100%;
	float: left;
	color: white;
	padding: 15px;
	font-size: 0.87em;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.6);
}

.btn_watch {
	float: left;
	border: none;
	color: white;
	display: block;
	cursor: pointer;
	margin-top: 15px;
	padding: 10px 15px;
	border-radius: 5px;
	background: #7669fe;
}

.btn_watch:hover {
	opacity: 0.7;
}

.btn_watch img {
	width: 20px;
	filter: invert(1);
	margin-right: 10px;
}

.btn_watch span {
	display: flex;
	font-size: 1.2em;
}

.btn_favorite {
	border: none;
	cursor: pointer;
	margin-top: 20px;
	filter: invert(1);
	background: transparent;
}

.btn_favorite:hover {
	filter: invert(40%) sepia(85%) saturate(7450%) hue-rotate(245deg) brightness(100%) contrast(100%);
}

.btn_favorite i {
	font-size: 2.3em;
}

.seasons_container {
	float: left;
	width: 100%;
	margin-top: 30px;
}

.seasons_ul {
	display: flex;
	overflow: auto;
	list-style: none;
}

.seasons_li {
	white-space: nowrap;
}

.seasons_li .title {
	color: white;
	font-size: 0.9em;
	margin-bottom: 5px;
}

.seasons_li a {
	color: white;
	cursor: pointer;
	padding: 10px 15px;
	display: inline-block;
	text-decoration: none;
	transition: all 0.3s ease-out;
}

.seasons_li a:hover:not(.active) {
	background-color: rgb(0, 0, 0, 0.5);
}

.seasons_li a.active {
	background-color: black;
	border-bottom: 2px solid #7669fe;
}

.carousel_section_generic_content .episodes_ul {
	display: none;
	overflow: auto;
	list-style: none;
	min-width: 150px;
	max-height: 350px;
	margin-right: 5px;
	background-color: rgba(0, 0, 0, 0.7);
}

.episodes_ul a {
	color: white;
	display: block;
	cursor: pointer;
	text-decoration: none;
}

.player_video_container {
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 9999;
	display: none;
	user-select: none;
	position: absolute;
	background-color: #000;
}

.title_media {
	top: 0;
	right: 0;
	width: 100%;
	z-index: 9998;
	padding: 10px 80px;
	position: absolute;
	text-align: center;
	transition: all 0.2s ease-out;
	background-color: rgba(20, 20, 20, 0.85);
}

.title_media h2 {
	color: white;
	min-height: 28px;
}

.player_video_content {
	width: 100%;
	height: 100%;
	position: relative;
}

.player_video_close {
	top: 0;
	left: 0;
	width: 50px;
	border: none;
	height: 48px;
	z-index: 9999;
	cursor: pointer;
	padding: 8px 10px;
	position: absolute;
	background-color: transparent;
	transition: all 0.2s ease-out;
}

.player_video_prev {
	left: 0;
	top: 41%;
	width: 80px;
	border: none;
	z-index: 9999;
	padding: 15px;
	cursor: pointer;
	margin-left: 10px;
	position: absolute;
	background-color: transparent;
	transition: all 0.2s ease-out;
}

.player_video_next {
	right: 0;
	top: 41%;
	width: 80px;
	border: none;
	z-index: 9999;
	padding: 15px;
	cursor: pointer;
	position: absolute;
	margin-right: 10px;
	background-color: transparent;
	transition: all 0.2s ease-out;
}

.player_video_prev img {
	width: 65%;
	filter: invert(1);
}

.player_video_prev img:hover {
	filter: invert(40%) sepia(85%) saturate(7450%) hue-rotate(245deg) brightness(100%) contrast(100%);
}

.player_video_next img {
	width: 65%;
	filter: invert(1);
}

.player_video_next img:hover {
	filter: invert(40%) sepia(85%) saturate(7450%) hue-rotate(245deg) brightness(100%) contrast(100%);
}

.player_video_close img {
	width: 100%;
	filter: invert(1);
}

.player_video_close img:hover {
	filter: invert(40%) sepia(85%) saturate(7450%) hue-rotate(245deg) brightness(100%) contrast(100%);
}

.active-border {
	border: 2px solid #7669fe;
}

.time {
	color: white;
}

.video-js {
	border: 0;
	width: 100%;
	height: 100%;
	outline: none;
	box-shadow: none;
	outline-style: none;
	border-color: transparent;
}

.vjs-time-divider,
.video-js .vjs-duration,
.vjs-no-flex .vjs-duration,
.video-js .vjs-current-time,
.vjs-no-flex .vjs-current-time {
	display: block;
}

.vjs-progress-control:hover .vjs-play-progress .vjs-time-tooltip {
	display: none;
}

.video-js .vjs-load-progress {
	background: rgba(130, 190, 210, .35);
}

.video-js .vjs-load-progress div {
	background: rgb(130, 190, 210);
}

.vjs-error .vjs-error-display:before {
	display: none;
}

.vjs-button>.vjs-icon-placeholder {
	font-family: "VideoJS";
}