@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(../../dist/fonts/latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(../../dist/fonts/latin-ext.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background: #000000;
}

::-webkit-scrollbar-thumb {
	min-height: 40px;
	border-radius: 10px;
	background: #7669fe;
	background-clip: content-box;
	border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
	background: #4d3dff;
	background-clip: content-box;
	border: 2px solid transparent;
}

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	font-family: "Roboto", sans-serif;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	background-color: #141414;
}

.loading {
	top: 0;
	left: 0;
	z-index: 8;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	display: none;
	user-select: none;
	position: absolute;
	align-items: center;
	justify-content: center;
	background-color: #000;
}

.loading img {
	width: 150px;
}

.trigger_container {
	top: 0;
	right: 0;
	z-index: 9;
	width: 100%;
	color: black;
	display: none;
	padding: 20px;
	font-size: 1.25em;
	user-select: none;
	position: absolute;
	letter-spacing: 0.5px;
}

.trigger_container.error {
	background: #dd5b5b;
}

.trigger_container.warning {
	background: #ffa800;
}

.trigger_container.success {
	background: #69fe96;
}

#Login {
	top: 0;
	left: 0;
	z-index: 7;
	width: 100%;
	height: 100%;
	user-select: none;
	position: absolute;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../../assets/images/bg-login.jpg);
}

.login_container {
	width: 100%;
	height: 100%;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: space-around;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.75) 100%);
}

.login_content {
	gap: 25px;
	display: flex;
	max-width: 600px;
	align-items: center;
	flex-direction: column;
}

.login_logo {
	max-width: 350px;
	max-height: 85px;
}

.login_index_message {
	color: #eee;
	font-size: 3em;
	font-weight: 500;
}

form {
	gap: 15px;
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: column;
}

.form_input {
	gap: 10px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

form label {
	color: white;
	font-size: 1.2em;
}

form input {
	border: none;
	color: black;
	font-size: 1.2em;
	padding: 20px 25px;
	border-radius: 5px;
	transition: all 0.3s ease-out;
	background-color: rgb(232, 240, 254);
}

form input::placeholder {
	color: grey;
}

form input:hover:not(:focus) {
	opacity: 0.8;
}

form button {
	width: 100%;
	border: none;
	padding: 15px;
	color: white;
	cursor: pointer;
	font-size: 1.5em;
	margin-top: 10px;
	border-radius: 5px;
	background-color: #7669fe;
}

form button:hover {
	opacity: 0.8;
}

.select_container {
	top: 0;
	left: 0;
	z-index: 4;
	width: 100%;
	height: 100vh;
	display: flex;
	user-select: none;
	position: absolute;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: #141414;
}

.select {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.select_title p {
	color: white;
	font-size: 3em;
	text-align: center;
	margin-bottom: 30px;
}

.select_content ul {
	gap: 20px;
	float: left;
	display: flex;
	color: white;
	list-style: none;
}

.select_content li {
	float: left;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	flex-direction: column;
}

.select_content a {
	float: left;
	width: 150px;
	height: 150px;
	cursor: pointer;
	text-align: center;
	border-radius: 10px;
	margin-bottom: 15px;
	transition: all 0.3s ease-out;
}

.select_content a:hover {
	opacity: 0.7;
}

.select_content span {
	color: #ccc;
	display: block;
	font-size: 1.3em;
	text-align: center;
}

.select_content img {
	width: 150px;
	height: 150px;
}

.select_modal_container {
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100vh;
	display: flex;
	user-select: none;
	position: absolute;
	align-items: center;
	justify-content: center;
	background-color: #141414;
}

.manage_select_modal_container {
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100vh;
	display: flex;
	user-select: none;
	position: absolute;
	align-items: center;
	background: #141414;
	justify-content: center;
}

.manage_select {
	margin-top: 40px;
	margin-bottom: 20px;
}

.btn_manage_select {
	color: white;
	cursor: pointer;
	border-radius: 5px;
	letter-spacing: 1px;
	padding: 0.5em 1.5em;
	text-decoration: none;
	border: 1px solid white;
	transition: all 0.3s ease-out;
}

.btn_manage_select:hover {
	color: black;
	border: 1px solid grey;
	background-color: white;
}

.btn_manage_select_concluded {
	color: white;
	cursor: pointer;
	margin-top: 10px;
	border-radius: 5px;
	letter-spacing: 1px;
	padding: 0.5em 1.5em;
	text-decoration: none;
	border: 1px solid white;
	transition: all 0.3s ease-out;
}

.btn_manage_select_concluded:hover {
	color: black;
	border: 1px solid grey;
	background-color: white;
}

.bg_edit {
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.7);
}

.bg_edit img {
	width: 25px;
	filter: invert(1);
}

.manage_select_modal_content {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.manage_select_modal_content h1 {
	color: white;
	font-weight: 400;
	font-size: 2.9em;
	margin-bottom: 30px;
}

.select_modal_content button.back {
	margin-top: 0;
	background-color: #dd5b5b;
}

.account_exit a {
	display: block;
	cursor: pointer;
	color: #dd4d4d;
	border-radius: 5px;
	letter-spacing: 1px;
	padding: 0.5em 1.5em;
	text-decoration: none;
	border: 1px solid #dd4d4d;
	transition: all 0.3s ease-out;
}

.account_exit a:hover {
	color: white;
	background-color: red;
	border: 1px solid #dc6d6d;
}

.form_avatar {
	position: relative;
}

.form_avatar input::placeholder {
	color: grey;
}

#Player {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	user-select: none;
	position: relative;
	background-color: #141414;
}

.menu_container {
	float: left;
	display: flex;
	padding: 32.5px;
	position: relative;
	justify-content: center;
	background-color: #1c1c1c;
}

.profile_content {
	width: 60px;
	height: 60px;
	text-align: center;
}

.profile_content p {
	color: white;
	font-weight: 500;
}

.avatar_container {
	width: 60px;
	height: 60px;
	border-radius: 10px;
	display: inline-block;
}

.avatar_container img {
	max-width: 100%;
}

.account_change a {
	display: block;
	cursor: pointer;
	max-width: 100%;
	max-height: 100vh;
	border-radius: 10px;
	text-decoration: none;
	transition: all 0.3s ease-out;
}

.account_change a:hover {
	background-color: rgb(0, 0, 0, 0.5);
}

.menu_content {
	display: flex;
	list-style: none;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}

.menu_content li>a {
	color: white;
	display: block;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}

.menu_content li>a>img {
	width: 50px;
	filter: invert(1);
}

.menu_content li>a>span {
	display: block;
	margin-top: 5px;
	letter-spacing: 1px;
	text-shadow: 3px 3px 5px #000000;
}

.menu_content a.active img {
	filter: invert(45%) sepia(60%) saturate(3560%) hue-rotate(230deg) brightness(100%) contrast(100%);
}

.menu_content a:hover:not(.active) img {
	filter: invert(40%) sepia(85%) saturate(7450%) hue-rotate(245deg) brightness(100%) contrast(100%);
}

.page_container {
	float: right;
	width: calc(100% - 146px);
}

.page_topnav {
	width: 100%;
	float: left;
	color: white;
	display: flex;
	padding: 15px 20px;
	align-items: center;
	border-bottom: 1px solid #404040;
}

.page_topnav>img {
	float: left;
	max-width: 150px;
}

.page_topnav>p {
	float: right;
	margin-left: auto;
	padding-right: 10px;
}

.search_container {
	float: left;
	width: 350px;
	display: none;
	margin-left: auto;
	position: relative;
}

.search_container input {
	float: left;
	width: 100%;
	border: none;
	color: white;
	outline: none;
	font-size: 1.1em;
	border-radius: 5px;
	padding: 10px 15px;
	padding-right: 40px;
	background: #1c1c1c;
}

.search_container button {
	top: 10px;
	width: 20px;
	right: 10px;
	float: right;
	border: none;
	cursor: pointer;
	position: absolute;
	background: transparent;
	filter: invert(30%);
}

.page_content {
	float: left;
	width: 100%;
	height: 100vh;
	transition: all 0.3s ease-out;
}

.carousel_section_generic_container {
	width: 100%;
	float: left;
	margin-top: 20px;
	position: relative;
}

.carousel_section_generic_content {
	width: 100%;
	padding-left: 30px;
}

.carousel_section_generic_title {
	color: white;
	font-size: 1.2em;
	font-weight: 500;
	margin-bottom: 15px;
}

.section_top_title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.section_new_title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container_arrows {
	display: flex;
	margin-right: 30px;
}

.container_arrows button {
	border: none;
	background: transparent;
}

.container_arrows img {
	width: 32px;
	height: 32px;
	margin: 0 4px;
	padding: 0 8px;
	cursor: pointer;
	filter: invert(1);
}

.container_arrows img:hover {
	filter: invert(40%) sepia(85%) saturate(7450%) hue-rotate(245deg) brightness(100%) contrast(100%);
}

.arrows {
	float: right;
	margin-top: 10px;
	user-select: none;
}

.arrows button {
	border: none;
	margin: 0 4px;
	font-size: 3em;
	color: white;
	cursor: pointer;
	background: transparent;
}

.arrows button:hover {
	filter: invert(40%) sepia(85%) saturate(7450%) hue-rotate(245deg) brightness(100%) contrast(100%);
}

.modal_media_content .arrows {
	margin-top: 10px;
	user-select: none;
	align-self: center;
}

.hide_scrollbar::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.carousel_section_generic_content a {
	width: 200px;
	height: 300px;
	display: block;
	cursor: pointer;
	position: relative;
	border-radius: 10px;
	text-decoration: none;
}

.carousel_section_generic_content a img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	transition: all 0.3s ease-out;
}

.carousel_section_generic_content a:hover img {
	opacity: 0.6;
}

.carousel_section_generic_content.small a {
	width: 157px;
	height: 235px;
	transition: all 0.3s ease-out;
}

.carousel_section_generic_content.small a:hover img {
	opacity: 0.6;
}

.carousel_section_generic_content .position_number {
	top: 5px;
	right: 5px;
	width: 48px;
	height: 48px;
	padding: 4px;
	color: white;
	font-size: 2em;
	position: absolute;
	text-align: center;
	border-radius: 10px;
	background-color: #7669fe;
}

.carousel_section_generic_content .name {
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 8px;
	color: white;
	display: block;
	margin-top: 5px;
	font-size: 0.8em;
	position: absolute;
	text-align: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: rgba(0, 0, 0, 0.7);
}

.channels_categories {
	float: left;
	width: 250px;
	height: 100vh;
	list-style: none;
	overflow-y: auto;
	flex-direction: column;
	background-color: #202020;
	max-height: calc(100vh - 91px);
	min-height: calc(100vh - 91px);
}

.channels_categories li {
	font-size: 0.8em;
}

.channels_categories a {
	color: white;
	padding: 15px;
	display: block;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.3s ease-out;
}

.channels_categories a:hover {
	background-color: #8b81ff;
}

.channels_categories a.active {
	background-color: #7669fe;
}

.channels_list {
	float: left;
	width: 300px;
	height: 100vh;
	list-style: none;
	overflow-y: auto;
	background-color: #191919;
	max-height: calc(100vh - 91px);
	min-height: calc(100vh - 91px);
}

.channels_list li {
	font-size: 0.8em;
	position: relative;
}

.channels_list li.not_found {
	color: white;
	display: flex;
	padding: 15px;
	font-size: 0.8em;
	position: relative;
}

.channels_list li .icon-lock {
	top: 17px;
	right: 10px;
	filter: invert(1);
	position: absolute;
}

.channels_list a {
	color: white;
	padding: 13px;
	display: flex;
	cursor: pointer;
	max-height: 45px;
	align-items: center;
	text-decoration: none;
	transition: all 0.3s ease-out;
}

.channels_list a:hover {
	background-color: #8b81ff;
}

.channels_list a.active {
	background-color: #7669fe;
}

.channels_list img {
	max-width: 53px;
	min-width: 53px;
	max-height: 19px;
	min-height: 19px;
	margin-right: 10px;
	object-fit: scale-down;
}

.channels_view_container {
	float: right;
	padding: 30px;
	text-align: center;
	overflow-y: overlay;
	align-items: flex-end;
	flex-direction: column;
	width: calc(100% - 550px);
	height: calc(100vh - 91px);
}

.channels_view_content {
	width: 100%;
	position: relative;
	background-color: #202020;
}

.epg_ul {
	width: 100%;
	display: block;
	overflow: auto;
	text-align: left;
	list-style: none;
	max-height: 96px;
}

.epg_ul li {
	margin-bottom: 20px;
	width: calc(100% - 15px);
}

.epg_ul .title {
	color: white;
	font-size: 1.1em;
}

.epg_ul .time {
	color: #7669fe;
}

.epg_ul .description {
	margin-top: 5px;
	font-size: 0.87em;
	color: #6c6c6c;
}

.media_content {
	float: left;
	padding: 15px;
	flex-wrap: wrap;
	list-style: none;
	overflow-y: auto;
	overflow-x: hidden;
	align-content: flex-start;
	width: calc(100% - 250px);
	max-height: calc(100vh - 91px);
}

.media_content li {
	float: left;
	position: relative;
	margin-right: 15px;
	margin-bottom: 15px;
}

.media_content li.not_found {
	margin: 0;
	display: flex;
	color: white;
	font-size: 0.8em;
	position: relative;
	justify-content: center;
}

.media_content a {
	width: 149px;
	height: 224px;
	display: block;
	cursor: pointer;
	position: relative;
	border-radius: 10px;
	aspect-ratio: 9 / 16;
	text-decoration: none;
	transition: all 0.3s ease-out;
}

.media_content a:hover {
	opacity: 0.8;
}

.media_content a img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	transition: all 0.3s ease-out;
}

.media_content .name {
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 8px;
	color: white;
	display: block;
	margin-top: 5px;
	font-size: 0.8em;
	position: absolute;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: rgba(0, 0, 0, 0.7);
}

.favorites_container {
	width: 100%;
	overflow: auto;
	flex-direction: column;
	height: calc(100vh - 91px);
	justify-content: space-evenly;
}

.home_container {
	width: 100%;
	overflow: auto;
	flex-direction: column;
	height: calc(100vh - 91px);
}

.modal_media_container {
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100vh;
	display: none;
	padding: 50px;
	position: absolute;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-out;
	background-color: rgba(0, 0, 0, 0.9);
}

.modal_media_box {
	width: 100%;
	max-width: 75%;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	max-height: calc(100vh - 100px);
}

.modal_media_content {
	z-index: 3;
	padding: 30px;
	display: flex;
	position: relative;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.8);
}

.modal_media_close {
	border: none;
	cursor: pointer;
	position: fixed;
	filter: invert(1);
	background: transparent;
}

.modal_media_close:hover {
	filter: invert(40%) sepia(85%) saturate(7450%) hue-rotate(245deg) brightness(100%) contrast(100%);
}

.modal_media_close i {
	font-size: 3.2em;
}

.media_info {
	display: flex;
}

.media_icon {
	width: 25%;
	float: left;
	max-width: 15%;
	overflow: hidden;
	position: relative;
	margin-right: 40px;
	border-radius: 10px;
}

.media_icon img {
	max-width: 100%;
	user-select: none;
	border-radius: 10px;
}

.media_icon .rate {
	top: 0;
	right: 0;
	padding: 5px;
	color: white;
	position: absolute;
	background-color: #7669fe;
	border-bottom-left-radius: 10px;
}

.media_description {
	width: 70%;
	float: left;
	color: white;
}

.media_description .title {
	font-size: 2em;
	font-weight: 700;
	padding-right: 40px;
	display: inline-block;
}

.media_description .genre {
	font-size: 0.8em;
	margin-bottom: 15px;
}

.media_description .time {
	margin-bottom: 15px;
}

.media_description .director {
	font-size: 0.87em;
	margin-bottom: 5px;
}

.media_description .cast {
	font-size: 0.87em;
	margin-bottom: 15px;
}

.media_resume {
	width: 100%;
	color: white;
	padding: 15px;
	font-size: 0.87em;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.6);
}

.media_trailer {
	width: 12%;
	padding: 8px;
	cursor: pointer;
	font-size: 1.1em;
	color: #8700ff;
	margin-top: 15px;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	justify-content: center;
	border: 2px solid #1600ff54;
	transition: all 0.3s ease-out;
	background-color: #000000a6;
}

.media_trailer:hover {
	color: #8800ffbf;
	border: 2px solid #1500ff79;
	background-color: #3421539a;
}

.btn_watch {
	float: left;
	border: none;
	color: white;
	display: block;
	cursor: pointer;
	margin-top: 15px;
	padding: 10px 15px;
	border-radius: 5px;
	background: #7669fe;
	transition: all 0.3s ease-out;
}

.btn_watch:hover {
	opacity: 0.7;
}

.btn_watch img {
	width: 20px;
	filter: invert(1);
	margin-right: 10px;
}

.btn_watch span {
	display: flex;
	font-size: 1.2em;
}

.btn_favorite {
	border: none;
	cursor: pointer;
	margin-top: 20px;
	filter: invert(1);
	background: transparent;
}

.btn_favorite:hover {
	filter: invert(40%) sepia(85%) saturate(7450%) hue-rotate(245deg) brightness(100%) contrast(100%);
}

.btn_favorite i {
	font-size: 2.3em;
}

.seasons_container {
	float: left;
	width: 100%;
	margin-top: 30px;
}

.seasons_li {
	white-space: nowrap;
}

.seasons_li .title {
	color: white;
	font-size: 0.9em;
}

.seasons_li a {
	color: white;
	cursor: pointer;
	padding: 10px 15px;
	display: inline-block;
	text-decoration: none;
}

.seasons_li a:hover:not(.active) {
	border-bottom: 2px solid #7569fe3c;
	background-image: linear-gradient(to bottom, transparent, #7669fe1f);
}

.seasons_li a.active {
	border-bottom: 2px solid #7669fe;
	background-image: linear-gradient(to bottom, transparent, #7569fe61);
}

.carousel_section_generic_content .episodes_ul {
	display: none;
	overflow: auto;
	list-style: none;
	min-width: 150px;
	max-height: 350px;
	margin-right: 5px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.7);
}

.carousel_section_generic_content.box_episodes {
	padding-left: 0;
}

.carousel_section_generic_content.box_episodes .splide__track {
	width: 100%;
}

.episodes_ul a {
	color: white;
	display: block;
	cursor: pointer;
	text-decoration: none;
}

.player_video_container {
	top: 0;
	left: 0;
	z-index: 7;
	width: 100%;
	height: 100%;
	display: none;
	user-select: none;
	position: absolute;
	background-color: #000;
}

.title_media {
	top: 0;
	right: 0;
	z-index: 6;
	width: 100%;
	padding: 10px 80px;
	position: absolute;
	text-align: center;
	transition: all 0.2s ease-out;
	background-color: rgba(20, 20, 20, 0.85);
}

.title_media h2 {
	color: white;
	min-height: 28px;
}

.player_video_content {
	width: 100%;
	height: 100%;
	position: relative;
}

.player_video_close {
	top: 0;
	left: 0;
	z-index: 7;
	width: 50px;
	border: none;
	height: 48px;
	cursor: pointer;
	padding: 8px 10px;
	position: absolute;
	background-color: transparent;
	transition: all 0.2s ease-out;
}

.player_video_prev {
	left: 0;
	top: 41%;
	z-index: 7;
	width: 80px;
	border: none;
	padding: 15px;
	cursor: pointer;
	margin-left: 10px;
	position: absolute;
	background-color: transparent;
	transition: all 0.2s ease-out;
}

.player_video_next {
	right: 0;
	top: 41%;
	z-index: 7;
	width: 80px;
	border: none;
	padding: 15px;
	cursor: pointer;
	position: absolute;
	margin-right: 10px;
	background-color: transparent;
	transition: all 0.2s ease-out;
}

.player_video_prev img {
	width: 65%;
	filter: invert(1);
}

.player_video_prev img:hover {
	filter: invert(40%) sepia(85%) saturate(7450%) hue-rotate(245deg) brightness(100%) contrast(100%);
}

.player_video_next img {
	width: 65%;
	filter: invert(1);
}

.player_video_next img:hover {
	filter: invert(40%) sepia(85%) saturate(7450%) hue-rotate(245deg) brightness(100%) contrast(100%);
}

.player_video_close img {
	width: 100%;
	filter: invert(1);
}

.player_video_close img:hover {
	filter: invert(40%) sepia(85%) saturate(7450%) hue-rotate(245deg) brightness(100%) contrast(100%);
}

.active-border {
	border: 2px solid #7669fe;
}

.time {
	color: white;
}

.video-js {
	width: 100%;
	height: 100%;
}

.video-js:focus {
	border: none;
	outline: none;
	box-shadow: none;
	outline-style: none;
	border-color: transparent;
}

.vjs-time-divider,
.video-js .vjs-duration,
.vjs-no-flex .vjs-duration,
.video-js .vjs-current-time,
.vjs-no-flex .vjs-current-time {
	display: block;
}

.vjs-progress-control:hover .vjs-play-progress .vjs-time-tooltip {
	display: none;
}

.video-js .vjs-load-progress {
	background: rgba(130, 190, 210, .35);
}

.video-js .vjs-load-progress div {
	background: rgb(130, 190, 210);
}

.vjs-error .vjs-error-display:before {
	display: none;
}

.vjs-button>.vjs-icon-placeholder {
	font-family: "VideoJS";
}

.vjs-playback-rate .vjs-menu {
	::-webkit-scrollbar {
		width: none;
	}
}

.video-js .vjs-time-control {
	min-width: 1em;
	font-size: 1.2em;
	line-height: 2.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.vjs-playback-rate .vjs-playback-rate-value {
	font-size: 1.2em;
	line-height: 2.4;
}

.vjs-menu-button-popup .vjs-menu .vjs-menu-content {
	max-height: none;
}

.vjs-custom {
	border: none;
	width: 100%;
	height: 100%;
	outline: none;
	aspect-ratio: 16/9;
}